# Purpose

### 2022-07-14
In this notebook we'll get the subreddits relevant to a country and apply the new automated QA process using CA models that predict rating and primary topic.

See this dashboard for more information about the model coverage & filters.
https://app.mode.com/reddit/reports/b99c94984018

# Imports & notebook setup

In [1]:
%load_ext autoreload
%autoreload 2

# Register bigquery magic (only needed for laptop/local, not colab)
# %load_ext google.cloud.bigquery

In [2]:
# colab auth for BigQuery, google drive, & google sheets (gspread)
from google.colab import auth, files, drive
from google.auth import default
import sys  # need sys for mounting gdrive path

auth.authenticate_user()
print('Authenticated')

Authenticated

## Install custom library

### Append google drive path so we can install library from there

In [3]:
# Attach google drive & import my python utility functions
# if drive.mount() fails, you can also:
#   MANUALLY CLICK ON "Mount Drive"
import sys


g_drive_root = '/content/drive'

try:
    drive.mount(g_drive_root, force_remount=True)
    print('   Authenticated & mounted Google Drive')
    
except Exception as e:
    try:
        drive._mount(g_drive_root, force_remount=True)
        print('   Authenticated & mounted Google Drive')
    except Exception as e:
        print(e)
        raise Exception('You might need to manually mount google drive to colab')

l_paths_to_append = [
    f'{g_drive_root}/MyDrive/Colab Notebooks',

    # need to append the path to subclu so that colab can import things properly
    f'{g_drive_root}/MyDrive/Colab Notebooks/subreddit_clustering_i18n'
]
for path_ in l_paths_to_append:
    if path_ in sys.path:
        sys.path.remove(path_)
    print(f" Appending path: {path_}")
    sys.path.append(path_)

Mounted at /content/drive
   Authenticated & mounted Google Drive
 Appending path: /content/drive/MyDrive/Colab Notebooks
 Appending path: /content/drive/MyDrive/Colab Notebooks/subreddit_clustering_i18n

### Install library

In [4]:
# install subclu & libraries needed to read parquet files from GCS & spreadsheets
#  make sure to use the [colab] `extra` because it includes colab-specific libraries
module_path = f"{g_drive_root}/MyDrive/Colab Notebooks/subreddit_clustering_i18n/[colab]"

!pip install -e $"$module_path" --quiet

## Regular Imports

In [5]:
import os
from datetime import datetime

from google.cloud import bigquery

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib_venn import venn2_unweighted, venn3_unweighted
from tqdm import tqdm

# auth for google sheets
import gspread


creds_, _ = default()
gc = gspread.authorize(creds_)

# os.environ['GOOGLE_CLOUD_PROJECT'] = 'data-science-prod-218515'
os.environ['GOOGLE_CLOUD_PROJECT'] = 'data-prod-165221'

## Custom imports

In [6]:
# subclu imports
import subclu
from subclu.utils.eda import (
    setup_logging, counts_describe, value_counts_and_pcts,
    notebook_display_config, print_lib_versions,
    style_df_numeric, reorder_array,
)
from subclu.models.clustering_utils import (
    create_dynamic_clusters,
    convert_distance_or_ab_to_list_for_fpr,
    reshape_df_to_get_1_cluster_per_row,
    get_primary_topic_mix_cols,
    create_dynamic_clusters_clean,
)

from subclu.models.reshape_clusters_v041 import (
    keep_only_target_labels,
    get_table_for_optimal_dynamic_cluster_params,
    get_dynamic_cluster_summary,
)


setup_logging()
notebook_display_config()
print_lib_versions([gspread, pd, np])

python		v 3.7.13
===
gspread		v: 4.0.1
pandas		v: 1.3.5
numpy		v: 1.21.6

# Checklist to re-run for a country:

- change country name for google sheet name
- change country initial in google sheet
    - add google sheet KEY (after created)
- change country name in geo-relevance query

## Create google sheet for country outputs

In [7]:
%%time

country_name_sheet_ = 'Spain'
target_abbrev_ = 'ES'
GSHEET_KEY = '1vr8O_Jw7gLFoaNJ4t9Uxyg0MnFbnOI6laL_q1_7AUMY'
GSHEET_NAME = f'i18n {country_name_sheet_} subreddits and clusters - model v0.5.0'


d_wsh_names = {
    'qa_ready': {
        'name': 'subs_after_ca_qa',
    },
    'clusters_t2t_fpr_raw': {
        'name': f'fpr_clusters_ca_qa_{target_abbrev_}_{target_abbrev_}',
    },
    'clusters_t2t_list_raw': {
        'name': f'clusters_list_ca_qa_{target_abbrev_}_{target_abbrev_}',
    },
    # 'clusters_t2t_fpr_after_qa': {
    #     'name': f'fpr_clusters_after_qa_{target_abbrev_}_{target_abbrev_}',
    # },
    # 'sub_raw': {
    #     'name': 'raw_data_per_subreddit',
    # },
}

if GSHEET_KEY is not None:
    sh = gc.open_by_key(GSHEET_KEY)
    print(f"Opening google worksheet: {GSHEET_NAME} ...")
else:
    print(f"** Creating google worksheet: {GSHEET_NAME} ...")
    sh = gc.create(GSHEET_NAME)

# create worksheets:
for _, d_ in d_wsh_names.items():
    sh_name = d_['name']
    try:
        d_['worksheet'] = sh.worksheet(sh_name)
        print(f"  Opening tab/sheet: {sh_name} ...")
    except Exception as e:
        print(f"  ** Creating tab/sheet: {sh_name} ...")
        d_['worksheet'] = sh.add_worksheet(sh_name, rows=5, cols=5)

if GSHEET_KEY is None:
    print(f"\n*** New sheet ID (assign it to GSHEET_KEY variable): ***\n{sh.id}\n")

Opening google worksheet: i18n Spain subreddits and clusters - model v0.5.0 ...
  Opening tab/sheet: subs_after_ca_qa ...
  Opening tab/sheet: fpr_clusters_ca_qa_ES_ES ...
  Opening tab/sheet: clusters_list_ca_qa_ES_ES ...
CPU times: user 58 ms, sys: 4.01 ms, total: 62 ms
Wall time: 1.19 s

# Load data from BigQuery

## Load subreddit geo-relevance & cultural relevance metadata

This data is already in bigQuery so read it straight from there. We'll use it to filter out geo-relevant (German) subs.

Also add the latest ratings so that we can filter based on those.

English-speaking countries don't have ambassador subs right now, so we should be able to create a standard template and replace the country name for these queries.

### SQL geo & cultural

In [8]:
%%time
%%bigquery df_geo --project data-science-prod-218515 

-- Get country-relevant subreddits for FPRs + flags from CA QA
DECLARE TARGET_COUNTRY STRING DEFAULT "Spain";
DECLARE MIN_COUNTRY_STANDARDIZED_RELEVANCE NUMERIC DEFAULT 2.3;
DECLARE MIN_USERS_PCT_L28_REL NUMERIC DEFAULT 0.14;

DECLARE PARTITION_DT DATE DEFAULT (CURRENT_DATE() - 2);

-- Check sensitive topics in case labels have changed since CA QA step
DECLARE SENSITIVE_TOPICS DEFAULT [
    'Addiction Support'
    , 'Activism'
    , 'Culture, Race, and Ethnicity', 'Fitness and Nutrition'
    , 'Gender', 'Mature Themes and Adult Content', 'Medical and Mental Health'
    , 'Military'
    , "Men's Health", 'Politics', 'Sexual Orientation'
    , 'Trauma Support', "Women's Health"
];


SELECT
    geo.subreddit_id
    , ars.users_l7
    , geo.geo_country_code
    , geo.country_name
    , geo.subreddit_name
    , geo.geo_relevance_default
    , geo.relevance_combined_score
    , geo.users_percent_by_subreddit_l28
    , geo.users_percent_by_country_standardized
    , nt.primary_topic
    , nt.rating_short
    , qa.predicted_rating
    , qa.predicted_topic
    , slo.allow_discovery
    , slo.over_18
    , qa.combined_filter_detail
    , qa.combined_filter
    , qa.combined_filter_reason
    , qa.taxonomy_action

    , geo.relevance_percent_by_subreddit
    , geo.relevance_percent_by_country_standardized

FROM `reddit-employee-datasets.david_bermejo.subclu_v0050_subreddit_clusters_c_qa_flags` AS qa
    LEFT JOIN (
        SELECT *
        FROM `reddit-employee-datasets.david_bermejo.subclu_subreddit_relevance_beta_20220705`
        WHERE country_name = TARGET_COUNTRY
    ) AS geo
        ON geo.subreddit_id = qa.subreddit_id

    LEFT JOIN (
        SELECT *
        FROM `data-prod-165221.all_reddit.all_reddit_subreddits`
        WHERE DATE(pt) = PARTITION_DT
    ) AS ars
        ON qa.subreddit_name = LOWER(ars.subreddit_name)

    LEFT JOIN (
        SELECT * FROM `data-prod-165221.cnc.shredded_crowdsource_topic_and_rating`
        WHERE pt = PARTITION_DT
    ) AS nt
        ON qa.subreddit_id = nt.subreddit_id
    LEFT JOIN (
        SELECT *
        FROM `data-prod-165221.ds_v2_postgres_tables.subreddit_lookup`
        -- Get latest partition
        WHERE dt = PARTITION_DT
    ) AS slo
        ON qa.subreddit_id = slo.subreddit_id

WHERE 1=1
    AND qa.pt = "2022-07-13"
    -- Pick subreddits relevant to target country under at least one metric/threshold
    --   Use the numeric values in case the defined threshold change
    AND geo.country_name = TARGET_COUNTRY
    AND (
        geo_relevance_default = TRUE
        OR users_percent_by_subreddit_l28 >= MIN_USERS_PCT_L28_REL
        OR users_percent_by_country_standardized >= MIN_COUNTRY_STANDARDIZED_RELEVANCE
        -- Try the combined score to include a few more relevant subreddits
        OR relevance_combined_score >= 0.175
    )

    -- Exclude subs we should recommend
    AND qa.combined_filter = 'recommend'
    AND qa.subreddit_name != 'profile'
    AND COALESCE(slo.type, '') IN ('public', 'restricted')
    AND COALESCE(slo.verdict, 'f') != 'admin-removed'
    AND COALESCE(is_spam, FALSE) = FALSE
    AND COALESCE(slo.over_18, 'f') = 'f'
    AND COALESCE(quarantine, FALSE) = FALSE
    AND COALESCE(nt.rating_short, '') NOT IN ('X', 'D', 'V')
    AND COALESCE(nt.primary_topic, '') NOT IN UNNEST(SENSITIVE_TOPICS)

ORDER BY geo.relevance_combined_score DESC, geo.users_percent_by_subreddit_l28 DESC
;

CPU times: user 324 ms, sys: 39.5 ms, total: 364 ms
Wall time: 10.1 s

### Check df with geo + language information

In [9]:
print(df_geo.shape)

(217, 21)

In [10]:
df_geo.iloc[:4, :11]

  subreddit_id  users_l7 geo_country_code country_name subreddit_name  geo_relevance_default  relevance_combined_score  users_percent_by_subreddit_l28  users_percent_by_country_standardized               primary_topic rating_short
0     t5_2s049      7792               ES        Spain      catalunya                   True                  0.859134                        0.823917                               9.476904                       Place            E
1     t5_2tjlk       942               ES        Spain        catalan                   True                  0.837260                        0.796575                               7.686603      Learning and Education            E
2    t5_11rkix     52072               ES        Spain        lmdshow                   True                  0.809596                        0.761995                              10.888280  Internet Culture and Memes            E
3     t5_2sau7      1229               ES        Spain      catalonia                   True                  0.790836                        0.738544                               8.907599                       Place            E

## Load model labels (clusters)

The clusters now live in a Big Query table and have standardized names, so pull the data from there.

### SQL labels

In [11]:
%%time
%%bigquery df_labels --project data-science-prod-218515 

-- select subreddit clusters from bigQuery

SELECT
    sc.subreddit_id
    , sc.subreddit_name

    -- Exclude clusters that are overly broad... these don't provide
    --  meaningful recommendations
    , sc.* EXCEPT(
        subreddit_id, subreddit_name, primary_topic, __index_level_0__
        , k_0010_label, k_0012_label, k_0020_label, k_0025_label, k_0030_label, k_0040_label
        , k_0049_label
        -- , k_0050_label, k_0052_label, k_0060_label, k_0066_label
        , k_0010_majority_primary_topic, k_0012_majority_primary_topic, k_0020_majority_primary_topic
        , k_0025_majority_primary_topic, k_0030_majority_primary_topic, k_0040_majority_primary_topic
        , k_0049_majority_primary_topic
        -- , k_0050_majority_primary_topic, k_0052_majority_primary_topic
        -- , k_0060_majority_primary_topic, k_0066_majority_primary_topic
    )
FROM `reddit-employee-datasets.david_bermejo.subclu_v0050_subreddit_clusters_c_full` sc
;

CPU times: user 41.9 s, sys: 2.22 s, total: 44.1 s
Wall time: 1min 23s

### Check label outputs

In [12]:
print(df_labels.shape)
df_labels.iloc[:4, :9]

(81970, 136)

  subreddit_id subreddit_name  model_sort_order  posts_for_modeling_count  k_0050_label  k_0052_label  k_0060_label  k_0066_label  k_0070_label
0    t5_6fz1n2    repacklaba1             38789                     196.0            18            18            22            23            24
1    t5_6fz1pv    unfitgirla1             38787                     176.0            18            18            22            23            24
2    t5_6fz2qw    repacklab10             38792                     182.0            18            18            22            23            24
3    t5_6fz31o    unfitgirl10             38788                     178.0            18            18            22            23            24

In [13]:
counts_describe(df_labels.iloc[:, :9])

# Reshape data
Apply reshaping fxns so that we can export the data in a format that's good for QA.

## Keep only labels for Target subreddits

In [14]:
%%time
df_labels_target = keep_only_target_labels(
    df_labels=df_labels,
    df_geo=df_geo,
    col_sort_order='model_sort_order',
    l_ix_subs=['subreddit_id', 'subreddit_name'],
    l_cols_to_front=None,
    geo_cols_to_drop=['None'],
)

0 <- subs to drop b/c they're not in model
(217, 155) <- df_labels_target.shape
CPU times: user 314 ms, sys: 6.26 ms, total: 320 ms
Wall time: 318 ms

In [15]:
counts_describe(df_labels_target.iloc[:, :15])

## Run loop to find "optimal" min_num of subreddits for dynamic clusters


We want to balance two things:
- prevent orphan subreddits
- prevent clusters that are too large to be meaningful

In order to do this at a country level, we'll be better off starting with smallest cluster size and roll up until we have at least N subreddits in one cluster.

Find optimal `min_subreddits_in_cluster` based on:
- `orphan count`, 
- `number of clusters`,
- & other info

number might be different for each country and even within a country it might differ by when we filter NSFW subs.

In [16]:
col_new_cluster_val = 'cluster_label'
col_new_cluster_name = 'cluster_label_k'
col_new_cluster_prim_topic = 'cluster_majority_primary_topic'
col_new_cluster_topic_mix = 'cluster_topic_mix'

### Loop

In [17]:
%%time

df_optimal_min_check, n_min_subs_in_cluster_optimal = get_table_for_optimal_dynamic_cluster_params(
        df_labels_target=df_labels_target,
        col_new_cluster_val=col_new_cluster_val,
        col_new_cluster_name=col_new_cluster_name,
        col_new_cluster_prim_topic=col_new_cluster_prim_topic,
        col_new_cluster_topic_mix=col_new_cluster_topic_mix,
        min_subs_in_cluster_list=np.arange(3, 11),
        verbose=False,
        return_optimal_min_subs_in_cluster=True,
)

  0%|          | 0/8 [00:00<?, ?it/s]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 36.45it/s]
 13%|        | 8/60 [00:00<00:01, 32.78it/s]
 20%|        | 12/60 [00:00<00:01, 32.83it/s]
 27%|       | 16/60 [00:00<00:01, 33.46it/s]
 33%|      | 20/60 [00:00<00:01, 33.40it/s]
 40%|      | 24/60 [00:00<00:01, 33.61it/s]
 47%|     | 28/60 [00:00<00:00, 32.27it/s]
 53%|    | 32/60 [00:00<00:00, 31.66it/s]
 60%|    | 36/60 [00:01<00:00, 31.54it/s]
 67%|   | 40/60 [00:01<00:00, 31.57it/s]
 73%|  | 44/60 [00:01<00:00, 31.75it/s]
 80%|  | 48/60 [00:01<00:00, 30.61it/s]
 87%| | 52/60 [00:01<00:00, 30.97it/s]
 93%|| 56/60 [00:01<00:00, 30.78it/s]
100%|| 60/60 [00:01<00:00, 31.18it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 18%|        | 12/65 [00:00<00:00, 118.77it/s]
 37%|      | 24/65 [00:00<00:00, 116.55it/s]
 57%|    | 37/65 [00:00<00:00, 119.92it/s]
100%|| 65/65 [00:00<00:00, 128.45it/s]
 12%|        | 1/8 [00:03<00:21,  3.09s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 35.22it/s]
 13%|        | 8/60 [00:00<00:01, 30.85it/s]
 20%|        | 12/60 [00:00<00:01, 31.66it/s]
 27%|       | 16/60 [00:00<00:01, 30.12it/s]
 33%|      | 20/60 [00:00<00:01, 30.12it/s]
 40%|      | 24/60 [00:00<00:01, 30.79it/s]
 47%|     | 28/60 [00:00<00:01, 31.08it/s]
 53%|    | 32/60 [00:01<00:00, 31.41it/s]
 60%|    | 36/60 [00:01<00:00, 29.72it/s]
 65%|   | 39/60 [00:01<00:00, 29.14it/s]
 70%|   | 42/60 [00:01<00:00, 28.96it/s]
 75%|  | 45/60 [00:01<00:00, 29.01it/s]
 80%|  | 48/60 [00:01<00:00, 29.14it/s]
 85%| | 51/60 [00:01<00:00, 29.26it/s]
 90%| | 54/60 [00:01<00:00, 26.61it/s]
 95%|| 57/60 [00:01<00:00, 27.37it/s]
100%|| 60/60 [00:02<00:00, 29.26it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 23%|       | 15/65 [00:00<00:00, 142.99it/s]
 46%|     | 30/65 [00:00<00:00, 144.04it/s]
 69%|   | 45/65 [00:00<00:00, 139.21it/s]
100%|| 65/65 [00:00<00:00, 138.54it/s]
 25%|       | 2/8 [00:06<00:18,  3.15s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 37.45it/s]
 13%|        | 8/60 [00:00<00:01, 35.23it/s]
 20%|        | 12/60 [00:00<00:01, 34.66it/s]
 27%|       | 16/60 [00:00<00:01, 33.72it/s]
 33%|      | 20/60 [00:00<00:01, 33.23it/s]
 40%|      | 24/60 [00:00<00:01, 33.24it/s]
 47%|     | 28/60 [00:00<00:00, 32.19it/s]
 53%|    | 32/60 [00:00<00:00, 31.70it/s]
 60%|    | 36/60 [00:01<00:00, 31.52it/s]
 67%|   | 40/60 [00:01<00:00, 31.83it/s]
 73%|  | 44/60 [00:01<00:00, 31.77it/s]
 80%|  | 48/60 [00:01<00:00, 31.54it/s]
 87%| | 52/60 [00:01<00:00, 31.67it/s]
 93%|| 56/60 [00:01<00:00, 30.31it/s]
100%|| 60/60 [00:01<00:00, 31.60it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 23%|       | 15/65 [00:00<00:00, 145.54it/s]
 46%|     | 30/65 [00:00<00:00, 137.70it/s]
 68%|   | 44/65 [00:00<00:00, 137.92it/s]
100%|| 65/65 [00:00<00:00, 138.97it/s]
 38%|      | 3/8 [00:09<00:15,  3.11s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 38.61it/s]
 13%|        | 8/60 [00:00<00:01, 33.92it/s]
 20%|        | 12/60 [00:00<00:01, 33.59it/s]
 27%|       | 16/60 [00:00<00:01, 31.98it/s]
 33%|      | 20/60 [00:00<00:01, 30.38it/s]
 40%|      | 24/60 [00:00<00:01, 30.22it/s]
 47%|     | 28/60 [00:00<00:01, 30.22it/s]
 53%|    | 32/60 [00:01<00:00, 29.99it/s]
 60%|    | 36/60 [00:01<00:00, 30.86it/s]
 67%|   | 40/60 [00:01<00:00, 31.32it/s]
 73%|  | 44/60 [00:01<00:00, 31.63it/s]
 80%|  | 48/60 [00:01<00:00, 31.40it/s]
 87%| | 52/60 [00:01<00:00, 31.01it/s]
 93%|| 56/60 [00:01<00:00, 30.71it/s]
100%|| 60/60 [00:01<00:00, 30.91it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 20%|        | 13/65 [00:00<00:00, 124.41it/s]
 40%|      | 26/65 [00:00<00:00, 124.61it/s]
 62%|   | 40/65 [00:00<00:00, 128.04it/s]
100%|| 65/65 [00:00<00:00, 130.66it/s]
 50%|     | 4/8 [00:12<00:12,  3.12s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 36.51it/s]
 13%|        | 8/60 [00:00<00:01, 35.52it/s]
 20%|        | 12/60 [00:00<00:01, 34.15it/s]
 27%|       | 16/60 [00:00<00:01, 33.41it/s]
 33%|      | 20/60 [00:00<00:01, 31.79it/s]
 40%|      | 24/60 [00:00<00:01, 31.44it/s]
 47%|     | 28/60 [00:00<00:01, 29.76it/s]
 53%|    | 32/60 [00:01<00:00, 30.12it/s]
 60%|    | 36/60 [00:01<00:00, 30.89it/s]
 67%|   | 40/60 [00:01<00:00, 31.44it/s]
 73%|  | 44/60 [00:01<00:00, 31.28it/s]
 80%|  | 48/60 [00:01<00:00, 30.07it/s]
 87%| | 52/60 [00:01<00:00, 30.56it/s]
 93%|| 56/60 [00:01<00:00, 31.04it/s]
100%|| 60/60 [00:01<00:00, 31.13it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 20%|        | 13/65 [00:00<00:00, 127.53it/s]
 40%|      | 26/65 [00:00<00:00, 126.09it/s]
 60%|    | 39/65 [00:00<00:00, 115.10it/s]
100%|| 65/65 [00:00<00:00, 122.60it/s]
 62%|   | 5/8 [00:15<00:09,  3.12s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 37.61it/s]
 13%|        | 8/60 [00:00<00:01, 34.31it/s]
 20%|        | 12/60 [00:00<00:01, 33.81it/s]
 27%|       | 16/60 [00:00<00:01, 32.51it/s]
 33%|      | 20/60 [00:00<00:01, 31.27it/s]
 40%|      | 24/60 [00:00<00:01, 30.78it/s]
 47%|     | 28/60 [00:00<00:01, 30.27it/s]
 53%|    | 32/60 [00:01<00:00, 30.42it/s]
 60%|    | 36/60 [00:01<00:00, 30.79it/s]
 67%|   | 40/60 [00:01<00:00, 31.13it/s]
 73%|  | 44/60 [00:01<00:00, 31.02it/s]
 80%|  | 48/60 [00:01<00:00, 30.40it/s]
 87%| | 52/60 [00:01<00:00, 30.62it/s]
 93%|| 56/60 [00:01<00:00, 30.66it/s]
100%|| 60/60 [00:01<00:00, 30.88it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 20%|        | 13/65 [00:00<00:00, 128.05it/s]
 40%|      | 26/65 [00:00<00:00, 121.64it/s]
 60%|    | 39/65 [00:00<00:00, 109.26it/s]
100%|| 65/65 [00:00<00:00, 116.98it/s]
 75%|  | 6/8 [00:18<00:06,  3.14s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 37.04it/s]
 13%|        | 8/60 [00:00<00:01, 32.18it/s]
 20%|        | 12/60 [00:00<00:01, 32.58it/s]
 27%|       | 16/60 [00:00<00:01, 32.85it/s]
 33%|      | 20/60 [00:00<00:01, 32.50it/s]
 40%|      | 24/60 [00:00<00:01, 33.12it/s]
 47%|     | 28/60 [00:00<00:00, 32.36it/s]
 53%|    | 32/60 [00:00<00:00, 32.37it/s]
 60%|    | 36/60 [00:01<00:00, 32.51it/s]
 67%|   | 40/60 [00:01<00:00, 31.22it/s]
 73%|  | 44/60 [00:01<00:00, 31.74it/s]
 80%|  | 48/60 [00:01<00:00, 32.30it/s]
 87%| | 52/60 [00:01<00:00, 31.03it/s]
 93%|| 56/60 [00:01<00:00, 31.48it/s]
100%|| 60/60 [00:01<00:00, 31.79it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 23%|       | 15/65 [00:00<00:00, 141.59it/s]
 46%|     | 30/65 [00:00<00:00, 133.01it/s]
 68%|   | 44/65 [00:00<00:00, 124.44it/s]
100%|| 65/65 [00:00<00:00, 126.88it/s]
 88%| | 7/8 [00:21<00:03,  3.11s/it]
  0%|          | 0/60 [00:00<?, ?it/s]
  7%|         | 4/60 [00:00<00:01, 38.72it/s]
 13%|        | 8/60 [00:00<00:01, 35.96it/s]
 20%|        | 12/60 [00:00<00:01, 33.20it/s]
 27%|       | 16/60 [00:00<00:01, 32.67it/s]
 33%|      | 20/60 [00:00<00:01, 32.34it/s]
 40%|      | 24/60 [00:00<00:01, 32.53it/s]
 47%|     | 28/60 [00:00<00:01, 31.05it/s]
 53%|    | 32/60 [00:00<00:00, 31.62it/s]
 60%|    | 36/60 [00:01<00:00, 31.76it/s]
 67%|   | 40/60 [00:01<00:00, 31.64it/s]
 73%|  | 44/60 [00:01<00:00, 31.87it/s]
 80%|  | 48/60 [00:01<00:00, 32.16it/s]
 87%| | 52/60 [00:01<00:00, 31.18it/s]
 93%|| 56/60 [00:01<00:00, 31.38it/s]
100%|| 60/60 [00:01<00:00, 31.65it/s]

  0%|          | 0/65 [00:00<?, ?it/s]
 17%|        | 11/65 [00:00<00:00, 106.42it/s]
 35%|      | 23/65 [00:00<00:00, 111.56it/s]
 57%|    | 37/65 [00:00<00:00, 122.11it/s]
 77%|  | 50/65 [00:00<00:00, 120.31it/s]
100%|| 65/65 [00:00<00:00, 118.17it/s]
100%|| 8/8 [00:24<00:00,  3.12s/it]

CPU times: user 24.1 s, sys: 585 ms, total: 24.7 s
Wall time: 25.1 s

In [18]:
assert (
    n_min_subs_in_cluster_optimal == df_optimal_min_check.loc[
        df_optimal_min_check['num_orphan_subreddits'] == df_optimal_min_check['num_orphan_subreddits'].min(),
        'min_subreddits_in_cluster'
    ].values[0]
)

In [19]:
df_optimal_min_check

,subs_to_cluster_count,min_subreddits_in_cluster,cluster_count,num_orphan_subreddits,num_subreddits_per_cluster_min,num_subreddits_per_cluster_mean,num_subreddits_per_cluster_median,num_subreddits_per_cluster_max,num_clusters_with_mature_primary_topic,cluster_ids_with_orphans
0,217,3,60,9,1,3.616667,4.0,8,0,"0019, 0025, 0027, 0037, 0040, 0041, 0045, 0048, 0049"
1,217,4,51,7,1,4.254902,5.0,8,0,"0027, 0037, 0040, 0041, 0045, 0048, 0049"
2,217,5,45,7,1,4.822222,6.0,10,0,"0037, 0038, 0040, 0041, 0045, 0048, 0049"
3,217,6,44,7,1,4.931818,5.0,10,0,"0037, 0038, 0040, 0041, 0045, 0048, 0049"
4,217,7,43,7,1,5.046512,5.0,10,0,"0024, 0037, 0040, 0041, 0045, 0048, 0049"
5,217,8,39,7,1,5.564103,4.0,16,0,"0027, 0037, 0040, 0041, 0045, 0048, 0049"
6,217,9,37,6,1,5.864865,5.0,16,0,"0037, 0040, 0041, 0045, 0048, 0049"
7,217,10,35,6,1,6.200000,5.0,17,0,"0037, 0040, 0041, 0045, 0048, 0049"

### Display loop results

In [20]:
def highlight_below_threshold(val, threshold=1):
    if val <= threshold:
        return "color:purple; font-weight: bold; background-color:yellow;"
    else:
        return ''
print(n_min_subs_in_cluster_optimal)

col_num_orph_subs = 'num_orphan_subreddits'
# col_num_subs_mean = 'num_subreddits_per_cluster_mean'
col_num_subs_median = 'num_subreddits_per_cluster_median'

style_df_numeric(
    df_optimal_min_check,
    rename_cols_for_display=True,
    l_bar_simple=[col_num_orph_subs,
                  col_num_subs_median,]
).applymap(highlight_below_threshold, subset=[col_num_orph_subs.replace('_', ' ')])

9

## Get dyanimc clusters (apply optimal num from above)

side bar: about 57% of subreddits in Australia only had a single primary topic as their `topic_mix`, so combining `primary topic` might not give us as much info as we hoped.

At the same time, for 43% of subs we might get additional detail by combining the primary topics.

In [21]:
print(f"Optimal n: {n_min_subs_in_cluster_optimal}")

n_mix_start = 4
l_ix = ['subreddit_id', 'subreddit_name']
col_new_cluster_topic_mix = 'cluster_topic_mix'
col_subreddit_topic_mix = 'subreddit_full_topic_mix'
col_full_depth_mix_count = 'subreddit_full_topic_mix_count'
suffix_new_topic_mix = '_topic_mix_nested'
col_new_cluster_val_int = 'cluster_label_int'

df_labels_target_dynamic_raw = create_dynamic_clusters(
    df_labels_target,
    agg_strategy='aggregate_small_clusters',
    min_subreddits_in_cluster=n_min_subs_in_cluster_optimal,
    l_cols_labels_input=None,
    col_new_cluster_val=col_new_cluster_val,
    col_new_cluster_name=col_new_cluster_name,
    col_new_cluster_prim_topic=col_new_cluster_prim_topic,
    n_mix_start=n_mix_start,
    col_new_cluster_topic_mix=col_new_cluster_topic_mix,
    col_subreddit_topic_mix=col_subreddit_topic_mix,
    col_full_depth_mix_count=col_full_depth_mix_count,
    suffix_new_topic_mix=suffix_new_topic_mix,
    l_ix=l_ix,
    verbose=True,
)

06:06:23 | INFO | "Concat'ing nested cluster labels..."

Optimal n: 9

06:06:24 | INFO | "Getting topic mix at different depths..."
06:06:24 | INFO | "  Assigning base topic mix cols"
06:06:24 | INFO | "  Creating deepest base topic mix col..."
06:06:24 | INFO | "  Iterating through additional subs with multiple topics..."
100%|| 60/60 [00:01<00:00, 34.34it/s]
06:06:26 | INFO | "Initializing values for strategy: aggregate_small_clusters"
06:06:26 | INFO | "  Looping to roll-up clusters from smallest to largest..."
100%|| 65/65 [00:00<00:00, 137.86it/s]
06:06:26 | INFO | "(217, 294) <- output shape"

In [22]:
style_df_numeric(
    get_dynamic_cluster_summary(
        df_labels_target_dynamic_raw,
        return_dict=False,
    ),
    rename_cols_for_display=True,
)

In [23]:
# # # check column order
# style_df_numeric(
#     df_labels_target_dynamic_raw.iloc[104:109, :15],
#     rename_cols_for_display=True,
#     int_labels=['total_users_in', 'num_of_countries_', 'users_in_subreddit_from_country_l28',
#                     'by_country_rank',
#                     ],
#     pct_cols=['b_users_percent_by_subreddit',
#                   'c_users_percent_by_country',
#                   'users_percent_by_country_avg',
#                   ],
#     pct_labels='',
# )

### Minor QA checks

In [24]:
# # check column order
# style_df_numeric(
#     df_labels_target_dynamic_raw.iloc[70:74, -22:],
#     rename_cols_for_display=True,
#     int_labels=['total_users_in', 'num_of_countries_', 'users_in_subreddit_from_country_l28',
#                     'by_country_rank',
#                     ],
#     pct_cols=['b_users_percent_by_subreddit',
#                   'c_users_percent_by_country',
#                   'users_percent_by_country_avg',
#                   ],
#     pct_labels='',
# )

In [25]:
value_counts_and_pcts(
    df_labels_target_dynamic_raw[col_new_cluster_topic_mix],
    top_n=9,
)

In [26]:
# how many final clusters have multiple topics?
value_counts_and_pcts(
    df_labels_target_dynamic_raw[col_new_cluster_topic_mix].str.count('\|')
)

In [27]:
# how many SUBREDDITS have multiple topics? (when we check the deepest clusters)
#  these two calls are equivalent

# value_counts_and_pcts(
#     df_labels_target_dynamic_raw[col_subreddit_topic_mix].str.count('\|')
# )

value_counts_and_pcts(
    df_labels_target_dynamic_raw[col_full_depth_mix_count]
)

In [28]:
style_df_numeric(
    df_labels_target_dynamic_raw
    [df_labels_target_dynamic_raw[col_full_depth_mix_count] >= 5]
    .iloc[-5:, :9]
    ,
    rename_cols_for_display=True,
)

## Re-assign orphan subreddits (optional)

If there are subreddits that are orphan (see summary above), check them out to see if we can re-assign them w/o too much work. if we can't skip and move to the next country.

In [62]:
# check subs around orphan sub
n_plus_minus_ = 2
orphan_clusters_ = get_dynamic_cluster_summary(
        df_labels_target_dynamic_raw,
        return_dict=True,
)['cluster_ids_with_orphans'].split(', ')

print(f"{len(orphan_clusters_)} <- Clusters with orphan subs")
for oc_ in orphan_clusters_:
    print(f"\nCLUSTER: {oc_}")
    try:
        ix_orphan_ = (
            df_labels_target_dynamic_raw
            [df_labels_target_dynamic_raw[col_new_cluster_val] == oc_]
            .index
        )[0]
    except IndexError as e:
        ix_orphan_ = (
            df_labels_target_dynamic_raw
            [df_labels_target_dynamic_raw[col_new_cluster_val] == oc_]
            .index
        )
    n_min_ = max(0, ix_orphan_ - n_plus_minus_)
    n_max_ = min(max(df_labels_target_dynamic_raw.index), (ix_orphan_ + 1 + n_plus_minus_))
    # print(ix_orphan_)
    # print(n_min_)
    # print(n_max_)
    display(
        df_labels_target_dynamic_raw.iloc[n_min_:n_max_, :13]
    )

6 <- Clusters with orphan subs

CLUSTER: 0037

,subreddit_id,subreddit_name,cluster_label_int,cluster_topic_mix,primary_topic,rating_short,subreddit_full_topic_mix,over_18,geo_relevance_default,relevance_percent_by_subreddit,relevance_percent_by_country_standardized,model_sort_order,posts_for_modeling_count
178,t5_2r39c,istp,33,Religion and Spirituality,Learning and Education,E,Religion and Spirituality | Medical and Mental Health | Family and Relationships,f,False,False,True,60511,269.0
179,t5_34ubfa,ciencias_castellano,33,Religion and Spirituality,Science,E,Internet Culture and Memes | Meta/Reddit | Science,None,False,True,False,61566,15.0
180,t5_11f3q1,tinderes,37,Family and Relationships,Family and Relationships,E,Family and Relationships,None,False,True,True,66242,6.0
181,t5_2rstq,riverside,38,Place,Place,E,Place,None,False,False,True,66767,81.0
195,t5_2ucv9,caminodesantiago,38,Place,Place,E,Place | Travel | Outdoors and Nature,None,False,False,True,67822,146.0

CLUSTER: 0040

,subreddit_id,subreddit_name,cluster_label_int,cluster_topic_mix,primary_topic,rating_short,subreddit_full_topic_mix,over_18,geo_relevance_default,relevance_percent_by_subreddit,relevance_percent_by_country_standardized,model_sort_order,posts_for_modeling_count
186,t5_2zug0,seville,3292,Place,None,E,Place,None,True,True,True,67780,21.0
194,t5_2ymwv,girona,3292,Place,Place,E,Place,None,True,True,True,67802,14.0
197,t5_tigm8,spainfire,40,"Business, Economics, and Finance","Business, Economics, and Finance",E,"Business, Economics, and Finance",f,True,True,True,70386,14.0
198,t5_3c23m,crtgaming,41,Technology,Gaming,E,Technology | Music,None,False,False,True,70977,1495.0
199,t5_3n7y6,dazn_ca,42,Technology,Sports,E,Technology | Television | Sports,None,False,False,True,72224,23.0

CLUSTER: 0041

,subreddit_id,subreddit_name,cluster_label_int,cluster_topic_mix,primary_topic,rating_short,subreddit_full_topic_mix,over_18,geo_relevance_default,relevance_percent_by_subreddit,relevance_percent_by_country_standardized,model_sort_order,posts_for_modeling_count
194,t5_2ymwv,girona,3292,Place,Place,E,Place,None,True,True,True,67802,14.0
197,t5_tigm8,spainfire,40,"Business, Economics, and Finance","Business, Economics, and Finance",E,"Business, Economics, and Finance",f,True,True,True,70386,14.0
198,t5_3c23m,crtgaming,41,Technology,Gaming,E,Technology | Music,None,False,False,True,70977,1495.0
199,t5_3n7y6,dazn_ca,42,Technology,Sports,E,Technology | Television | Sports,None,False,False,True,72224,23.0
200,t5_31d70,gnulinuxesp,42,Technology,Technology,E,Technology,None,True,True,False,72453,41.0

CLUSTER: 0045

    subreddit_id     subreddit_name  cluster_label_int cluster_topic_mix    primary_topic rating_short                   subreddit_full_topic_mix over_18  geo_relevance_default  relevance_percent_by_subreddit  relevance_percent_by_country_standardized  model_sort_order  posts_for_modeling_count
199     t5_3n7y6            dazn_ca                 42        Technology           Sports            E           Technology | Television | Sports    None                  False                           False                                       True             72224                      23.0
200     t5_31d70        gnulinuxesp                 42        Technology       Technology            E                                 Technology    None                   True                            True                                      False             72453                      41.0
201    t5_2jfmjx       crotonplants                 45   Home and Garden  Home and Garden            E                            Home and Garden    None                   True                           False                                      False             75785                      10.0
202     t5_3e0dj  britishsuperbikes                 48            Sports             None            E  Gaming | Cars and Motor Vehicles | Sports    None                   True                           False                                      False             78547                      19.0
203    t5_5tbzkj       interiorismo                 49           Hobbies  Home and Garden            E                  Hobbies | Home and Garden    None                   True                           False                                       True             79536                      10.0

CLUSTER: 0048

    subreddit_id     subreddit_name  cluster_label_int cluster_topic_mix    primary_topic rating_short                   subreddit_full_topic_mix over_18  geo_relevance_default  relevance_percent_by_subreddit  relevance_percent_by_country_standardized  model_sort_order  posts_for_modeling_count
200     t5_31d70        gnulinuxesp                 42        Technology       Technology            E                                 Technology    None                   True                            True                                      False             72453                      41.0
201    t5_2jfmjx       crotonplants                 45   Home and Garden  Home and Garden            E                            Home and Garden    None                   True                           False                                      False             75785                      10.0
202     t5_3e0dj  britishsuperbikes                 48            Sports             None            E  Gaming | Cars and Motor Vehicles | Sports    None                   True                           False                                      False             78547                      19.0
203    t5_5tbzkj       interiorismo                 49           Hobbies  Home and Garden            E                  Hobbies | Home and Garden    None                   True                           False                                       True             79536                      10.0
206    t5_46735x  repbudgetsneakers                 50           Fashion          Fashion            E                                    Fashion    None                  False                           False                                      False             80261                    3097.0

CLUSTER: 0049

    subreddit_id     subreddit_name  cluster_label_int cluster_topic_mix    primary_topic rating_short                   subreddit_full_topic_mix over_18  geo_relevance_default  relevance_percent_by_subreddit  relevance_percent_by_country_standardized  model_sort_order  posts_for_modeling_count
201    t5_2jfmjx       crotonplants                 45   Home and Garden  Home and Garden            E                            Home and Garden    None                   True                           False                                      False             75785                      10.0
202     t5_3e0dj  britishsuperbikes                 48            Sports             None            E  Gaming | Cars and Motor Vehicles | Sports    None                   True                           False                                      False             78547                      19.0
203    t5_5tbzkj       interiorismo                 49           Hobbies  Home and Garden            E                  Hobbies | Home and Garden    None                   True                           False                                       True             79536                      10.0
206    t5_46735x  repbudgetsneakers                 50           Fashion          Fashion            E                                    Fashion    None                  False                           False                                      False             80261                    3097.0
205    t5_4cdlnz   repbudgetfashion                 50           Fashion          Fashion            E                                    Fashion    None                  False                           False                                       True             80245                     122.0

In [30]:
# # check other subs that are in the same cluster as orphan sub (at broadest level)
# l_cols_orphan_check = (
#     [
#         'subreddit_id',
#         col_new_cluster_topic_mix, 
#         # col_new_cluster_val,  # this can be really long and makes comparing harder
#         # col_subreddit_topic_mix,
#         'subreddit_name', 
#         col_new_cluster_name
#     ] +
#     l_cols_labels[:-5]
# )

# style_df_numeric(
#     df_labels_target_dynamic_raw
#     [df_labels_target_dynamic_raw['k_0013_label'] == 11]
#     [l_cols_orphan_check]
#     .iloc[3:14, :50]
#     ,
#     l_bar_simple=[c for c in l_cols_orphan_check[4:] if c.endswith('_label')],
#     rename_cols_for_display=True,

# )

In [31]:
# label_k_to_reassign_ = 'k_0320_label'
# label_val_to_reassign_ = '0011-0018-0032-0043-0046-0058-0062-0087-0244'
# subreddit_id_orphan_ = 't5_2tt7r'

# mask_orphan_and_new_group = (
#     (df_labels_target_dynamic_raw['subreddit_id'] == subreddit_id_orphan_) |
#     (
#         (df_labels_target_dynamic_raw[col_new_cluster_name] == label_k_to_reassign_) &
#         (df_labels_target_dynamic_raw[col_new_cluster_val] == label_val_to_reassign_)
#     )
# )

# # assign is similar to what we do in the dynamic function
# label_k_new_ = 'k_0118_label'
# label_val_new_col_ = f"{label_k_new_}_nested"
# new_prim_topic_col_ = label_k_new_.replace('_label', '_majority_primary_topic')
# c_update_topic_mix_ = label_k_new_.replace('_label', suffix_new_topic_mix)

# df_labels_target_dynamic_raw.loc[
#     mask_orphan_and_new_group,
#     col_new_cluster_name
# ] = label_k_new_

# df_labels_target_dynamic_raw.loc[
#     mask_orphan_and_new_group,
#     col_new_cluster_val
# ] = df_labels_target_dynamic_raw[mask_orphan_and_new_group][label_val_new_col_]

# df_labels_target_dynamic_raw.loc[
#     mask_orphan_and_new_group,
#     col_new_cluster_prim_topic
# ] = df_labels_target_dynamic_raw[mask_orphan_and_new_group][new_prim_topic_col_]

# df_labels_target_dynamic_raw.loc[
#     mask_orphan_and_new_group,
#     col_new_cluster_topic_mix
# ] = df_labels_target_dynamic_raw[mask_orphan_and_new_group][c_update_topic_mix_]

# del mask_orphan_and_new_group, label_k_to_reassign_, label_val_to_reassign_
# del label_k_new_, label_val_new_col_, new_prim_topic_col_

In [32]:
# # check again, num of orphans should be lower than before
# style_df_numeric(
#     get_dynamic_cluster_summary(
#         df_labels_target_dynamic_raw,
#         return_dict=False,
#     ),
#     rename_cols_for_display=True,
# )

In [33]:
# value_counts_and_pcts(
#     df_labels_target_dynamic_raw,
#     ['cluster_label'],
#     top_n=None,
#     return_df=True
# )['count'].describe()

## Get cluster for humans (list of subs in a cluster in a cell)
Here we get 1 cluster per row. 
Use cases:
- It makes it easier to quickly check NSFW clusters that we'll filter out
- we'll append the list of subreddit names from here to the final table for QA (makes it easier to evaluate whether the cluster makes sense).

In [63]:
col_subs_in_cluster_count = 'subs_in_cluster_count'
col_list_cluster_names = 'list_cluster_subreddit_names'

df_cluster_for_humans = reshape_df_to_get_1_cluster_per_row(
    df_labels_target_dynamic_raw,
    col_counterpart_count=col_subs_in_cluster_count,
    col_list_cluster_names=col_list_cluster_names,
    col_list_cluster_ids='list_cluster_subreddit_ids',
    col_new_cluster_val=col_new_cluster_val,
    col_new_cluster_name=col_new_cluster_name,
    col_new_cluster_val_int=col_new_cluster_val_int,
    col_new_cluster_topic=col_new_cluster_topic_mix,
    verbose=False,
    get_one_column_per_sub_id=False,
)

(37, 7)  <- df.shape

In [35]:
df_cluster_for_humans.iloc[3:9, :-1] # .iloc[40:45, :]

,cluster_label,cluster_label_k,cluster_topic_mix,cluster_label_int,subs_in_cluster_count,list_cluster_subreddit_names
3,0016,k_0050_label,Internet Culture and Memes,16,2,"shitpost, yo_elvr"
4,0017,k_0050_label,Internet Culture and Memes,17,3,"sorrylag, rangugamer, valzoak"
5,0017-0017-0021-0022-0023-0025-0026-0029-0030-0031-0038-0040-0047-0053-0058-0080-0090-0122-0149-0181-0182,k_0603_label,Internet Culture and Memes | Funny/Humor,182,16,"wismichu, ibai, radiopirata, ilutv, abby, lmdshow, memesesp, dazbrrr, shitpostesp, caliebre, auronplay, ubius, chusommontero, iamcristinini, orslokx, renezz"
6,0018,k_0050_label,Podcasts and Streamers,18,2,"clips, youtubeespanol"
7,0019-0019-0023-0024-0025-0027-0028-0031-0032,k_0094_label,Gaming,32,10,"deepspacegame, picturepunches, culturepop, laresistencia, spanishmeme, emulacionandroide, leaksandrumors, nintendoswitchindie, monsterhunterps2, fortnitees"
8,0021,k_0050_label,Podcasts and Streamers,21,6,"wonhosolo, hanabie, rosalia, dragrace_espana, dragracelatam, dragracees"

In [64]:
df_cluster_for_humans.iloc[-9:, :-1]

,cluster_label,cluster_label_k,cluster_topic_mix,cluster_label_int,subs_in_cluster_count,list_cluster_subreddit_names
28,0038-0039-0046-0050-0053-0057-0059-0068-0070-0074-0093-0098-0114-0130-0150-0200-0228-0305-0375-0451-0453-0529-0598-0626-0665-0745-0749-0938-1084-1126-1316-1449-1517-1533-1705-1822-1909-2101-2156-2300-2386-2504-2632-2713-2913-2921-3022-3...,k_4250_label,Place,3292,11,"barcelona, madrid, ibiza, valencia, mallorca, malaga, tenerife, alicante, granada, seville, girona"
29,0040,k_0050_label,"Business, Economics, and Finance",40,1,spainfire
30,0041,k_0050_label,Technology,41,1,crtgaming
31,0042,k_0050_label,Technology,42,2,"dazn_ca, gnulinuxesp"
32,0045,k_0050_label,Home and Garden,45,1,crotonplants
33,0048,k_0050_label,Sports,48,1,britishsuperbikes
34,0049,k_0050_label,Hobbies,49,1,interiorismo
35,0050,k_0050_label,Fashion,50,3,"repbudgetsneakers, repbudgetfashion, spainreps"
36,0050-0052-0060-0066-0070,k_0070_label,Hobbies,70,10,"killteam, swlegion, nintendostitch, warhammerinstructions, middleearthminiatures, heroquest, marvelcrisisprotocol, numismatology, knittingandcrochet, crochet_espanol"

### Check clusters that have mature topics

Update for v0.5.0: With the new modeling QA/filtering, there should be few or no mature clusters

In [65]:
mask_mature_clusters_ = (
    df_cluster_for_humans[col_new_cluster_topic_mix].str.lower()
    .str.contains('mature')
)
print(f"{mask_mature_clusters_.sum()} <- clusters with 'Mature' in topic mix")

0 <- clusters with 'Mature' in topic mix

In [66]:
# check the first few clusters
(
    df_cluster_for_humans
    [mask_mature_clusters_]
    .iloc[:5, :-1]
)

Empty DataFrame
Columns: [cluster_label, cluster_label_k, cluster_topic_mix, cluster_label_int, subs_in_cluster_count, list_cluster_subreddit_names]
Index: []

In [67]:
# (
#     df_cluster_for_humans
#     [mask_mature_clusters_]
#     .iloc[-12:, :]
# )

In [68]:
# sorted(_L_MATURE_CLUSTERS_TO_EXCLUDE_FROM_QA_)

### Add the flag to exclude from QA & the list of sub names to df-raw

Update for v0.5.0:
<br>This QA already happed upstream in the QA table (see dashboard for details).

In [69]:
val_exclude_from_qa = 'exclude from QA'
col_exclude_from_qa = 'exclude_from_qa'

df_labels_target_dynamic_raw[col_exclude_from_qa] = ''

## Create new df_clean 

- Add list of subreddits to target-CLEAN, b/c we'll need it for rating final
- Add new columns & update order

### Copy baseline cols for clean

In [70]:
col_model_sort_order = 'model_sort_order'

df_labels_target_dynamic_raw, df_labels_target_dynamic_clean = create_dynamic_clusters_clean(
    df_dynamic_raw=df_labels_target_dynamic_raw,
    col_new_cluster_val=col_new_cluster_val,
    col_new_cluster_name=col_new_cluster_name,
    col_new_cluster_prim_topic=col_new_cluster_prim_topic,
    col_new_cluster_topic_mix=col_new_cluster_topic_mix,
    col_subreddit_topic_mix=col_subreddit_topic_mix,
)

# check num of orphans for clean
display(style_df_numeric(
    get_dynamic_cluster_summary(
        df_labels_target_dynamic_clean.rename(columns={c: c.replace(' ', '_') for c in df_labels_target_dynamic_clean.columns}),
        return_dict=False,
    ),
    rename_cols_for_display=True,
).set_caption(f"Summary for df-CLEAN"))


# print(f"{len(l_cols_clean_final_for_qa)} <- expected final col count")
print(f"{df_labels_target_dynamic_raw.shape} <- df raw shape")
print(f"{df_labels_target_dynamic_clean.shape} <- df clean shape")

(217, 297) <- df raw shape
(217, 46) <- df clean shape

In [71]:
# [c for c in df_labels_target_dynamic_clean.columns if 'cluster' in c]

In [72]:
# df_labels_target_dynamic_clean.iloc[:5, 28:40]

In [73]:
# df_labels_target_dynamic_raw.iloc[:5, 30:40]

In [74]:
# df_labels_target_dynamic_clean.iloc[:5, -10:]

## Create target to target list for FPR example

In [82]:
%%time
print(datetime.utcnow())

df_target_to_target_list = convert_distance_or_ab_to_list_for_fpr(
    df_labels_target_dynamic_clean.rename(columns={c: c.replace(' ', '_') for c in df_labels_target_dynamic_clean.columns}),
    convert_to_ab=True,
    col_counterpart_count='counterpart_count',
    col_list_cluster_names='list_cluster_subreddit_names',
    col_list_cluster_ids='list_cluster_subreddit_ids',
    l_cols_for_seeds=None,
    l_cols_for_clusters=None,
    col_new_cluster_val=col_new_cluster_val,
    col_new_cluster_name=col_new_cluster_name,
    col_new_cluster_prim_topic=col_new_cluster_prim_topic,
    verbose=True,
)
df_target_to_target_list.shape

2022-07-15 06:23:21.748009
['subreddit_id', 'subreddit_name', 'model_sort_order', 'primary_topic', 'cluster_label', 'cluster_label_k', 'cluster_majority_primary_topic']
['subreddit_id', 'subreddit_name', 'cluster_label']
  (1945, 9) <- df_ab.shape raw
  (1728, 9) <- df_ab.shape after removing matches to self
  Groupby cols:
    ['model_sort_order', 'subreddit_id_seed', 'subreddit_name_seed', 'cluster_label', 'cluster_label_k', 'primary_topic', 'cluster_majority_primary_topic']
  (197, 9) <- df_a_to_b.shape
CPU times: user 42.4 ms, sys: 958 s, total: 43.4 ms
Wall time: 43.5 ms

In [84]:
# df_target_to_target_list.drop('list_cluster_subreddit_ids', axis=1).iloc[:5, :11]

In [85]:
l_subs_missing_from_fpr = list(
    set(df_labels_target_dynamic_clean['subreddit name']) -
    set(df_target_to_target_list['subreddit_name_seed'])
)
len(l_subs_missing_from_fpr)
(
    df_labels_target_dynamic_clean[
        df_labels_target_dynamic_clean['subreddit name'].isin(l_subs_missing_from_fpr)
    ].iloc[:, :9]
)

    subreddit id     subreddit name  cluster label int                 cluster topic mix not country relevant  rated E relevant to cluster/ other subreddits in cluster safe to show in relation to cluster country relevance notes
5       t5_2v8rv    musicaenespanol                 14                             Music                          True
14      t5_2sfpz    wirefoxterriers                 15                  Animals and Pets                          True
34     t5_26div5         rangugamer                 17        Internet Culture and Memes                          True
54      t5_2z6wh    imaginarysports                 22                             Anime                          True
58     t5_4viev2           silksong                 23                               Art                          True
75      t5_2re6h       endlessocean                 26                            Gaming                          True
123     t5_3lur8          tunicgame                150                            Gaming                          True
136    t5_4xj98s          gmecanada                153  Business, Economics, and Finance                          True
137    t5_4wjblz              nzgme                153  Business, Economics, and Finance                          True
175     t5_t1xw3            bancars                 32                             Place                          True
180    t5_11f3q1           tinderes                 37          Family and Relationships                          True
183     t5_2u3sc      basquecountry                 38                             Place                          True
196     t5_gmkqb      fuerteventura                 38                             Place                          True
193     t5_2sxu9            granada               3292                             Place                          True
186     t5_2zug0            seville               3292                             Place                          True
197     t5_tigm8          spainfire                 40  Business, Economics, and Finance                          True
198     t5_3c23m          crtgaming                 41                        Technology                          True
201    t5_2jfmjx       crotonplants                 45                   Home and Garden                          True
202     t5_3e0dj  britishsuperbikes                 48                            Sports                          True
203    t5_5tbzkj       interiorismo                 49                           Hobbies                          True

# Export data

Note that we have to use `fillna('')`

Otherwise, we'll get errors because the gspread library doesn't know how to handle `pd.NaN` or `np.Nan` (nulls).

## Define variables to create/access google sheet doc & worksheets

Moved the defintion to the top of the sheet so it's easier to automate.

## Save: Clean sheet to rate

In [49]:
d_wsh_names.keys()

dict_keys(['qa_ready', 'clusters_t2t_fpr_raw', 'clusters_t2t_list_raw'])

In [50]:
%%time
print(datetime.utcnow())
(
    d_wsh_names['qa_ready']['worksheet']
    .update([df_labels_target_dynamic_clean.columns.values.tolist()] + 
             df_labels_target_dynamic_clean.fillna('').values.tolist())
)

2022-07-15 06:06:28.447549
CPU times: user 21.5 ms, sys: 1.14 ms, total: 22.6 ms
Wall time: 606 ms

## Save: df cluster for humans

In [51]:
%%time
print(datetime.utcnow())
(
    d_wsh_names['clusters_t2t_list_raw']['worksheet']
    .update(
        [df_cluster_for_humans.rename(columns={c: c.replace('_', ' ') for c in df_cluster_for_humans}).columns.values.tolist()] + 
        df_cluster_for_humans.fillna('').values.tolist()
    )
)

2022-07-15 06:06:29.105781
CPU times: user 9.82 ms, sys: 994 s, total: 10.8 ms
Wall time: 157 ms

## Save: target raw dynamic

In [52]:
l_cols_to_drop = (
    ['table_creation_date'] +
    [c for c in df_labels_target_dynamic_raw.columns if c.endswith('_nested')]
)
print(len(l_cols_to_drop))
# df_labels_target_dynamic_raw.columns.to_list()

133

In [53]:
# %%time
# print(datetime.utcnow())
# (
#     d_wsh_names['sub_raw']['worksheet']
#     .update([df_labels_target_dynamic_raw.drop(l_cols_to_drop, axis=1).columns.values.tolist()] + 
#              df_labels_target_dynamic_raw.drop(l_cols_to_drop, axis=1).fillna('').values.tolist())
# )

## Save: FPR target-2-target as list

Even though data isn't fully ready, want to have the output ready to make sure it's in the right format that we need.

UPDATE: stop exporting this for now because it adds noise and could create confusion between it and the final QA sheet.

In [54]:
df_target_to_target_list.iloc[:5, :8]

  subreddit_id_seed  subreddit_name_seed cluster_label cluster_label_k primary_topic cluster_majority_primary_topic  counterpart_count                                                                                                list_cluster_subreddit_names
0         t5_3di14p  frankiewitchfingers          0013    k_0050_label         Music                          Music                  2                                                                                             primaverasound, madcoolfestival
1          t5_2vznd       primaverasound          0013    k_0050_label         Music                          Music                  2                                                                                        madcoolfestival, frankiewitchfingers
2          t5_9c154      madcoolfestival          0013    k_0050_label         Music                          Music                  2                                                                                         primaverasound, frankiewitchfingers
3         t5_23z4s3            framehero     0014-0014    k_0052_label        Gaming                          Music                  9   weirdspotifyplaylists, tameimpala, heardle, pcmusic, reggaeton, flamenco, untaggedbeats, operacirclejerk, musicaenespanol
4          t5_2qoa7             flamenco     0014-0014    k_0052_label         Music                          Music                  9  weirdspotifyplaylists, tameimpala, heardle, pcmusic, reggaeton, framehero, untaggedbeats, operacirclejerk, musicaenespanol

In [55]:
%%time
print(datetime.utcnow())
(
    d_wsh_names['clusters_t2t_fpr_raw']['worksheet']
    .update(
        [df_target_to_target_list.columns.values.tolist()] + 
        df_target_to_target_list.fillna('').values.tolist()
    )
)

2022-07-15 06:06:29.494222
CPU times: user 14.4 ms, sys: 15 s, total: 14.4 ms
Wall time: 450 ms

### We can read the data back to confirm it's as expected

In [56]:
# Here's how to get the records as a dataframe
pd.DataFrame(
    d_wsh_names['qa_ready']['worksheet'].get_all_records()
).iloc[:5, :15]

,subreddit id,subreddit name,cluster label int,cluster topic mix,not country relevant,rated E,relevant to cluster/ other subreddits in cluster,safe to show in relation to cluster,country relevance notes,rating or cluster notes,link to sub,subs in cluster count,list cluster subreddit names,posts for modeling count,users l7
0,t5_2vznd,primaverasound,13,Music,,TRUE,,,,,www.reddit.com/r/primaverasound,,,525,5192
1,t5_9c154,madcoolfestival,13,Music,,TRUE,,,,,www.reddit.com/r/madcoolfestival,,,77,1285
2,t5_3di14p,frankiewitchfingers,13,Music,,TRUE,,,,,www.reddit.com/r/frankiewitchfingers,,,7,60
3,t5_4pzwar,weirdspotifyplaylists,14,Music,,TRUE,,,,,www.reddit.com/r/weirdspotifyplaylists,,,330,28311
4,t5_2t1l9,tameimpala,14,Music,,TRUE,,,,,www.reddit.com/r/tameimpala,,,549,24779

# Appendix

## Additional checks on cluster depth

In [57]:
print(df_labels_target_dynamic_raw['cluster_label'].nunique())
display(
    value_counts_and_pcts(
        df_labels_target_dynamic_raw,
        ['cluster_label'],
        top_n=10,
        count_type='subreddit',
        rename_cols_for_display=True,
    )
)
value_counts_and_pcts(
    df_labels_target_dynamic_raw,
    ['cluster_label'],
    top_n=None,
    return_df=True,
)['count'].describe()

37

count    37.000000
mean      5.864865
std       4.321536
min       1.000000
25%       2.000000
50%       5.000000
75%      10.000000
max      16.000000
Name: count, dtype: float64

### How deep are the clusters?

In [58]:
print(df_labels_target_dynamic_raw[col_new_cluster_name].nunique())
value_counts_and_pcts(
    df_labels_target_dynamic_raw,
    [col_new_cluster_name],
    top_n=None,
    sort_index=True,
    count_type='subreddit',
    rename_cols_for_display=True,
)

11

In [59]:
# style_df_numeric(
#     df_labels_target.tail(10),
#     # rename_cols_for_display=True,
#     l_bar_simple=[c for c in df_labels_target.columns if '_label' in c]
# )